
## <summary>policy for perfectioncoin</summary>


########################################
## <summary>
##	Transition to perfectioncoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`perfectioncoin_domtrans',`
	gen_require(`
		type perfectioncoin_t, perfectioncoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, perfectioncoin_exec_t, perfectioncoin_t)
')


########################################
## <summary>
##	Execute perfectioncoin server in the perfectioncoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`perfectioncoin_initrc_domtrans',`
	gen_require(`
		type perfectioncoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, perfectioncoin_initrc_exec_t)
')


########################################
## <summary>
##	Search perfectioncoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`perfectioncoin_search_lib',`
	gen_require(`
		type perfectioncoin_var_lib_t;
	')

	allow $1 perfectioncoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read perfectioncoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`perfectioncoin_read_lib_files',`
	gen_require(`
		type perfectioncoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, perfectioncoin_var_lib_t, perfectioncoin_var_lib_t)
')

########################################
## <summary>
##	Manage perfectioncoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`perfectioncoin_manage_lib_files',`
	gen_require(`
		type perfectioncoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, perfectioncoin_var_lib_t, perfectioncoin_var_lib_t)
')

########################################
## <summary>
##	Manage perfectioncoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`perfectioncoin_manage_lib_dirs',`
	gen_require(`
		type perfectioncoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, perfectioncoin_var_lib_t, perfectioncoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a perfectioncoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`perfectioncoin_admin',`
	gen_require(`
		type perfectioncoin_t;
		type perfectioncoin_initrc_exec_t;
		type perfectioncoin_var_lib_t;
	')

	allow $1 perfectioncoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, perfectioncoin_t)

	perfectioncoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 perfectioncoin_initrc_exec_t system_r;
	allow $2 system_r;
